<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.seemasangwan.com</title>
<link rel="stylesheet" href="/css/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--=====Style Switcher ======-->
    <link rel="stylesheet" href="/css/color-1.css" class="alternative-style" title="color-1">
    <link rel="stylesheet" href="/css/color-2.css" class="alternative-style" title="color-2"disabled>
    <link rel="stylesheet" href="/css/color-3.css" class="alternative-style" title="color-3" disabled>
    <link rel="stylesheet" href="/css/color-4.css" class="alternative-style" title="color-4" disabled>
    <link rel="stylesheet" href="/css/color-5.css" class="alternative-style" title="color-5" disabled>
    <link rel="stylesheet" href="/css/style-switcher.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body class="dark">
<!--Start-->
<div class="main-container">
 <!--left start-->
 {{>left}}
<!--left end-->
<!--right start-->
<div class="right">

<!--Home Section end-->
<!--About Section start-->

 <!--About Section end-->
  <!--Education Section start-->

   
<!--Education Section end-->
<!--Project Section start-->

<!--Project Section end-->
<!--Certificate Section Start-->

   <!--Certificate Section End-->
   <!--SKILL SECTION-->
   
<!--Contact  Section start-->

        </div>
       <!--Right end-->
     </div>

     <!--End-->
     <!--====Style Switch Start====-->
     
      <!--====Style Switch End====-->
     
</body>
</html>
