        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        </head>
        <body>
            
      
        <div class="left">
            <div class="logo">
                <a href="#"><span>S</span>eema</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/home" class="active"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/about"><i class="fa fa-user"></i> About</a></li>
                    <li><a href="/education"><i class="fa fa-list"></i> Education </a></li>
                                        <li><a href="/experience"><i class="fa fa-list"></i>Experience</a></li>
                    <li><a href="/skill"><i class="fa fa-comments"></i> Skills</a></li>
                    <li><a href="/project"><i class="fa fa-briefcase"></i> Projects </a></li>
                    <li><a href="/contact"><i class="fa fa-comments"></i> Contact</a></li>
                    <li><a href="/certificate"><i class="fa-solid fa-certificate"></i></i>Certificate</a></li>
                    <li><a href="/add"><i class="fa-solid fa-plus"></i> Add</a></li>
                    
                    <li><a href="/delete"><i class="fa-solid fa-trash"></i>Delete</a></li>
                    <li><a href="/update"><i class="fa-solid fa-pen"></i>Update</a></li>


                </ul>
            </div>
        </div>
</body>
</html>
