<div class="style-switcher">
        <div class="style-switcher-toggler s-icon open">
            <i class="fa fa-cog fa-spin "></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas "></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActivestyle('color-1')"></span>
            <span class="color-2" onclick="setActivestyle('color-2')"></span>
            <span class="color-3" onclick="setActivestyle('color-3')"></span>
            <span class="color-4" onclick="setActivestyle('color-4')"></span>
            <span class="color-5" onclick="setActivestyle('color-5')"></span>
        </div>
     </div>